/* @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400;500;600;700;900&family=Roboto&display=swap'); */
.statistics {
  max-width: 980px;
  margin: 50px auto 50px auto;
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  /* border: 0.2px solid #e9e9f2; */
}
.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  text-align: center;
  margin: auto;
}
.statList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2px solid #e9e9f2;
  padding: 30px 20px 30px 20px;
}
.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  border: 2px solid #bada55;
}
.statsItem:not(:last-child) {
  margin-right: 5px;
}
.label {
  font-family: 'Libre Franklin', sans-serif;
}
.percentage {
  font-family: 'Libre Franklin', sans-serif;
}
